/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.container .gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  height: 648px;
  padding: 24px 36px;
  column-gap: 24px;
}

.gallery-item {
  height: 200px;
  width: 360px;
}

.gallery-image {
  object-fit: cover;
}

/*======== large image ======== */
.sl-wrapper .sl-image {
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 1112px !important;
  height: 640px !important;
}

.sl-wrapper .sl-image img {
  width: 1112px !important;
  height: 640px !important;
  object-fit: cover;
}

.sl-caption {
  width: 100% !important;
}

/*======== feedback form ======== */

.feedback-form {
  margin: 32px auto;
}
